body{
    background: #E2E2E2;
}
.minus-img{
    margin-bottom: -270px;
}
.line-height{
    font-size: 29px;
    line-height:35px;
}
.bg-black{
    background: #000000 !important;
}

    
    
   
    
    
